nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position:fixed;
}

nav #header{
  font-family: "Bungee", sans-serif;
  font-size: 50px;
}

.header{
  margin-top: 120px;

}

nav .right{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.nav-button {
  color:red;
  background: transparent;
  border: none;
}

.nav-button:hover {
  color:white;
  animation: bounce 0.5s linear infinite;
}
@keyframes bounce{
0%{
  transform: translateY(0px)
}
45%{
  transform: translateY(5px)
}
65%{
transform: translateY(10px)
}
85%{
transform: translateY(20px)
}
}

.nav-button:active {
  color:white;
  transform: translateY(4px);
}