.new-tweet {
  display: flex;
  flex-direction: column;
}

#tweet-text{
  width: 100%;
  border: none;
  background-color: transparent;
  outline:none;
  resize: none;
  border-bottom: solid 5px;
  margin-bottom: 0.5em;
}

.button-counter{
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  background-color: #4056A1;
  border: none;
  color: white;
  padding: 0.25em;
  border-radius: 15px;
  outline: none;
  box-shadow: lightslategrey 0 7px;
  cursor: pointer;

}

.tweet-button:active {
  box-shadow: lightslategrey 0 0px;
  transform: translateY(4px);

}

.error {
  display:none;
  color:red;
  border: solid 4px;
  padding: 0.5em;
  text-align: center;
}

